*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto',Arial, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#5a5a5a;
}
img{
    cursor: pointer;
}
.header-nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.flex-div{
    display: flex;
    flex-direction: row;
}
.nav-left,
.nav-middle,
.nav-right,
.youtube-logo{
    align-items: center;
    text-align: center;
    height: 40px;
    line-height: 40px;
    justify-content: center;
}
.nav-left{
    gap:30px;
}
.nav-right{
    gap: 30px;
}
.header-nav > div > img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#logo-icon{
    height: 30px;
    width: 30px;
    margin-right: 2px;
}
.logo-text{
    font-weight: 800;
    font-size: larger;
}
#create {
    width: 30px;
}
#profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#mike-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 3px;
    border:1px solid #ccc;
}
#hamburger:hover,
#mike-icon:hover,
#create:hover,
#notification:hover{
    padding: 3px;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.1); 
}
#create:hover{
    width: 35px;
}
.nav-middle{
    gap:10px;
}
.nav-middle .search-box input{
    border: none;
    outline: none;
}
button{
    border: none;
    background-color: none;
}
.search-box{
    width: auto;
}
#search-bar{
    font-size: medium;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 25px 0px 0px 25px;
    width: 500px;
    height: 40px;
}
.search-box > button> img{
    width: 25px;
    height: 25px;
}
.search-box>button{
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 0px 25px 25px 0px;
    border-left: none;
    padding:5px 12px;
}

@media (max-width:1200px) {
    .search-box{
        width: 500px;
    }
}

@media (max-width:900px){
    .search-box{
        width: 350px;
    }
}
@media (max-width:600px){
    #search-bar{
        display: none;
    }
}

/* ---------------Side-bar styling ---------------*/
.side-bar{
    background-color: #fff;
    width: 16%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 1.6%;
    padding-top: 80px;
    overflow-y: auto;
    z-index: 100;
}
.side-bar div a  {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.sub-section{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
.side-bar div a{
    width: 95%;
    padding: 2px 5px ;
}
.side-bar div a p {
    display: inline;
    color: black;
}
.side-bar div a img,
.side-bar div p > img{
    display: inline;
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
.line{
    height: 2px;
    background-color: #5a5a5a;
    margin-right: 1.5rem;
}

.subscription-div a img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #5a5a5a;
} 
#show-more{
    border: none;
}
.settings-div{
    margin-top: 20px;
}
.side-bar div a:hover{
    cursor: pointer;
    background-color: #faf6f6;
    border: 0.1px solid #e8e6e6;
    border-radius: 3px;
}
.footer-div{
    margin: 10px auto;
}
.footer-div div p>a{
    display: inline;
    font-size: small;
}
.copyright{
    color: #4b4b4b;
    margin-top: 10px;
}
.footer-div div p>a:hover{
    cursor:pointer;
    border: none;
    background-color: #fff;
}